In [1]:
import mysql.connector
from configs_db import *

In [2]:
cnx = mysql.connector.connect(
    host=HOST_DB_MYSQL,
    user=USERNAME_DB_MYSQL,
    password=PASSWORD_DB_MYSQL
)
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f165b64dab0>

In [3]:
cursor = cnx.cursor()

In [4]:
cursor.execute("CREATE DATABASE IF NOT EXISTS db_produtos;")

In [6]:
cursor.execute("SHOW DATABASES;")
for db in cursor:
    print(db)

('db_produtos',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
import pandas as pd

In [9]:
df_livros = pd.read_csv("/home/leonardo/pipeline-python-mongo-mysql/data/tabela_livros.csv")
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longintude
0,6675b13616cc5a9be7ccb11d,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,6675b13616cc5a9be7ccb11e,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,6675b13616cc5a9be7ccb130,Iniciando em programação,livros,63.25,3.894137,2022-01-01,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
3,6675b13616cc5a9be7ccb13e,Ciência de dados com python,livros,86.13,5.273176,2021-02-01,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
4,6675b13616cc5a9be7ccb140,Ciência de dados com python,livros,72.75,1.458158,2021-02-01,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55

In [10]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'Latitude',
       'Longintude'],
      dtype='object')

In [11]:
df_livros.shape

(742, 13)

In [12]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS db_produtos.tb_livros(
        id VARCHAR(100),
        Produto VARCHAR(100),
        Categoria_Produto VARCHAR(100),
        Preco FLOAT(10,2),
        Frete FLOAT(10,2),
        Data_Compra DATE,
        Vendedor VARCHAR(100),
        Local_Compra VARCHAR(100),
        Avaliacao_Compra INT,
        Tipo_Pagamento VARCHAR(100),
        Qntd_Parcelas INT,
        Latitude FLOAT(10,2),
        Longintude FLOAT(10,2),
               
        PRIMARY KEY (id)
    );
""")

In [15]:
cursor.execute("USE db_produtos;")
cursor.execute("SHOW TABLES;")
for tb in cursor:
    print(tb)

('tb_livros',)